/* styles/Header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 15px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #ff4c4c;
  text-transform: uppercase;
}

.rightContainer {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 15px; /* Space between items */
  margin-left: auto; /* Pushes the rightContainer to the end */
}

.nav {
  display: flex;
  gap: 30px;
}

.navItem {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #ff4c4c;
}

.navItem::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ff4c4c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navItem:hover::after {
  transform: scaleX(1);
}

.securityWarning {
  font-size: 12px;
  color: #ff4c4c;
  text-transform: uppercase;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 76, 76, 0.5);
  animation: blink 2s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.profileLink {
  margin-left: 20px; /* Space between the warning and the profile picture */
}

.profilePicture {
  width: 40px; /* Adjust size as necessary */
  height: 40px; /* Adjust size as necessary */
  border-radius: 50%; /* Makes the image circular */
  cursor: pointer; /* Indicates it's clickable */
}
